{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    {% block body %}
        {% for item in item_list %}
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <img class="card" height="150px" src="{{ item.item_image }}"/>
                </div>
                <div class="col-md-4">
                    <h1>{{ item.item_name }}</h1>
                    <h5>{{ item.item_desc }}</h5>
                    <h6>Rs.{{ item.item_price }}</h6>
                    <h6>Posted by : {{ item.user_name }}</h6>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'food:detail' item.id %}" class="btn btn-success">View Details</a>
                </div>

            </div>
        {% endfor %}
    {% endblock %}
</body>
</html>